.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 96, 153, 1);
    position: relative;

    &__block {
        display: flex;
        align-items: center;

        @include mobile {
            margin-top: 31px;
            margin-bottom: 36px;

            flex-direction: column;
        }

        @include tablet {
            margin-top: 61px;
            margin-bottom: 66px;

            flex-direction: row;
        }

        @include desktop {
            margin-top: 91px;
            margin-bottom: 96px;

            flex-direction: row;
        }
    }

    &__description {

        @include mobile {
            margin-bottom: 16px;
        }

        @include tablet {

        }

        @include desktop {

        }

        h2 {
            color: #fff;
            font-weight: 600;

            @include mobile {
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 5%;

                width: 100%;
                margin-bottom: 12px;
            }

            @include tablet {
                font-size: 28px;
                line-height: 32px;
                letter-spacing: 5%;

                width: 300px;
                margin-bottom: 22px;
            }

            @include desktop {
                font-size: 36px;
                line-height: 46px;
                letter-spacing: 5%;

                width: 317px;
                margin-bottom: 32px;
            }
        }

        p {
            font-weight: 400;
            opacity: 0.6;
            color: #fff;

            @include mobile {
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 5%;

                width: 100%;
            }

            @include tablet {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 5%;

                width: 420px;
            }

            @include desktop {
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 5%;

                width: 460px;
            }
        }
    }

    &__go-to-form {
        background-color: rgba(90, 152, 208, 1);
        border-radius: 10px;
        color: #fff;

        @include mobile {
            width: 100px;
            height: 30px;
            
            margin-left: 0px;
        }

        @include tablet {
            width: 140px;
            height: 46px;
            
            margin-left: 100px;
        }

        @include desktop {
            width: 220px;
            height: 56px;
            
            margin-left: 180px;
        }
    }


    &__line {
        position: absolute;
        width: 1073px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        bottom: 0;
        left: 0;
        
        @include mobile {
            width: 75%;
        }

        @include tablet {
            width: 603px;
        }

        @include desktop {
            width: 1073px;
        }
    }
}

.modal {
  display: none; // по умолчанию скрыто
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1000; // перекрывает всё

  &.active {
    display: flex;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }

  &__content {
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    max-width: 75%;
    width: 90%;
    z-index: 1001;

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 500;
    }

    input, textarea {
      padding: 8px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    .error {
      color: red;
      font-size: 12px;
      height: 12px;
    }

    .btn-submit {
      margin-top: 8px;
      padding: 10px;
      border-radius: 8px;
      border: none;
      background: #316099;
      color: white;
      cursor: pointer;
    }
  }
}

.success {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1002;

  &.active {
    display: flex;
  }

  &__box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    p {
      margin-bottom: 12px;
      font-weight: 600;
    }

    button {
      padding: 8px 16px;
      border-radius: 6px;
      border: none;
      background: #316099;
      color: white;
      cursor: pointer;
    }
  }
}