.our-help {
    display: flex;
    justify-content: center;
    position: relative;

    @include mobile {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }

    @include tablet {
        margin-top: 90px;
        flex-direction: column;
        align-items: center;
    }

    @include desktop {
        margin-top: 180px;
        // margin-left: 15.59vw;
        flex-direction: row;
    }


    h2 {
        font-weight: 600;
        color: rgba(49, 96, 153, 1);
        top: 0;
        left: 0px;

        @include mobile {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 5%;

            width: 240px;
            position: relative;

            margin-bottom: 20px;
        }

        @include tablet {
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 5%;

            width: 358px;
            position: relative;

            margin-bottom: 30px;
        }

        @include desktop {
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 5%;

            width: 358px;
            position: absolute;

            margin-bottom: 0px;
        }
    }

    ul {

        display: flex;

        @include mobile {
            width: 260px;

            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        @include tablet {
            width: 682px;

            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        @include desktop {
            width: 940px;

            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

    }

    li {
        border-radius: 10px;
        box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.2);
        background: #fff;
        list-style-type: none;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 164px;
            padding: 24px;
        }

        @include tablet {
            width: 284px;
            padding: 48px;
        }

        @include desktop {
            width: 284px;
            padding: 48px;
        }


        h3 {
            font-weight: 600;

            @include mobile {
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 5%;

                margin-top: 26px;
                margin-bottom: 16px;
            }

            @include tablet {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 5%;

                margin-top: 56px;
                margin-bottom: 16px;
            }

            @include desktop {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 5%;

                margin-top: 56px;
                margin-bottom: 16px;
            }

        }

        p {
            font-weight: 400;

            @include mobile {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 5%;
                opacity: 0.6;

                margin-bottom: 32px;
            }

            @include tablet {
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 5%;
                opacity: 0.6;

                margin-bottom: 32px;
            }

            @include desktop {
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 5%;
                opacity: 0.6;

                margin-bottom: 32px;
            }
        }
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 123px;
        }

        @include desktop {
            width: 123px;
        }

        h4 {
            color: rgba(90, 152, 208, 1);
            font-weight: 600;

            @include mobile {
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 5%;
            }

            @include tablet {
                font-size: 14px;
                line-height: 30px;
                letter-spacing: 5%;
            }

            @include desktop {
                font-size: 14px;
                line-height: 30px;
                letter-spacing: 5%;
            }
        }
    }

    li:first-of-type {

        @include mobile {
            margin-top: 0px;
            margin-left: 0px;
            height: 100%;
            
            margin-bottom: 40px;
        }

        @include tablet {
            margin-top: 0px;
            margin-left: 0px;
            height: 429px;
            
            margin-bottom: 40px;
        }

        @include desktop {
            margin-top: 308px;
            margin-left: 80px;
            height: 429px;
            
            margin-bottom: 0px;
        }

        img {

            @include mobile {
                width: 182px;
                height: 132px;
            }

            @include tablet {
                width: 182px;
                height: 132px;
            }

            @include desktop {
                width: 182px;
                height: 132px;
            }
            
        }


    }

    li:nth-of-type(2) {

        padding-top: 0px;

        @include mobile {
            height: 100%;

            margin-bottom: 40px;
        }

        @include tablet {
            height: 489px;

            margin-bottom: 40px;
        }

        @include desktop {
            height: 489px;
            
            margin-bottom: 0px;
        }

        img {

            @include mobile {
                // width: 224px;
                // height: 197px;
                // margin-top: -24px;
            }

            @include tablet {
                width: 224px;
                height: 197px;
                margin-top: -24px;
            }

            @include desktop {
                width: 224px;
                height: 197px;
                margin-top: -24px;
            }
        }

    }

    li:last-of-type {

        @include tablet {
            height: 100%px;

            margin-top: 0px;

            margin-left: 0;
        }

        @include desktop {
            height: 429px;

            margin-top: -161px;

            margin-left: auto;
        }


        img {

            @include mobile {
                width: 156px;
                height: 131px;
            }

            @include tablet {
                width: 156px;
                height: 131px;
            }

            @include desktop {
                width: 156px;
                height: 131px;
            }
        }
    }
}

.cards {
    position: relative;
}

