* {
	padding: 0px;
	margin: 0px;
	border: none;
}

a, a:link, a:visited  {
    text-decoration: none;
	color: inherit;
}

a:hover  {
    text-decoration: none;
}

button {
	border: none;
	background-color: rgba(0, 0, 0, 0);
}